@model User
@{
    ViewData["Title"] = "AddUser";
}

<h1>Welcome @Model.firstname @Model.lastname!</h1>
<h2>Account Information: </h2>
<p>Username: @Model.username</p>
<p>Email: @Model.email</p>
<p>Phone: @Model.phone</p>
<p>Favorite Coffee: @Model.favcoffee</p>
<p>Favorite Pasty: @Model.favpastry</p>
<p>Password: @Model.password</p>


